<% include ./partials/header %>

<nav id='navBar'></nav>

<h1 class='banner'>DICTIONARY AND THESAURUS</h1>

<form method='GET' action='/results'>
  <input type='text' placeholder=' SEARCH' name='search' autofocus />
  <button id='submit' type='submit'>GO!</button>
</form>

<% include ./partials/footer %>
